.footer {
  background-color: $lightBlack;
  padding: 80px 24px;
  height: 600px;
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;

  @include breakpoint-up(medium) {
    padding: 120px 60px;
  }

  @include breakpoint-up(large) {
    padding: 130px 120px;
  }

  &__content {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    padding: 40px 16px;

    &-main--text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      align-content: center;
      margin-bottom: 40px;
      padding: 0 24px;

      & h2 {
        margin-bottom: 16px;
      }

      & p {
        width: 100%;

        @include breakpoint-up(medium) {
          width: 60%;
        }
      }
    }

    &-main--ctas {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-content: center;
      text-align: center;

      & button:not(:last-child) {
        margin-right: 16px;
      }
    }

    &-secondary {
      position: absolute;
      bottom: 32px;

      &--social-links {
        margin-bottom: 10px;
      }

      & a:not(:last-child) {
        margin-right: 16px;
      }

      & path {
        fill: $lightPurple;
        width: 20px;
        height: 20px;
        opacity: 1;
        transition: opacity 0.2s ease-out;

        &:hover {
          opacity: 0.6;
        }
      }

      @include breakpoint-up(medium) {
        display: none;
      }
    }
  }
}
